<label>Nome: </label>
<input type="text" name="name" value="<%= vehicle.name %>" />
<br />
<label>Série: </label>
<input type="text" name="serie" value="<%= vehicle.serie %>" />
<br />
<label>Prefixo: </label>
<input type="text" name="prefixo" value="<%= vehicle.prefixo %>" />
